/*
.card-bubble {
  max-width: 75%;
  padding: 12px 15px;

  border-radius: 8px;

  background-image: linear-gradient(153deg, hsla(270, 100.00%, 58.24%, 1.00), #6b20f3 51%, hsla(259.24528301886795, 82.19%, 49.77%, 1.00));

  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);

  font-family: Articulat;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  line-height: 1.4em;
}

.card-bubble.white {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00),hsla(0, 0.00%, 100.00%, 1.00));
  color: hsla(0, 0.00%, 20.00%, 0.80);
}
*/