/*
.search-bar-div {
  margin-top: 10px;
}

.search-2 {
  margin-bottom: 0px;
}

.search-input-2 {
  margin-bottom: 0px;
  padding-left: 35px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 3.36%, 93.79%, 1.00);
  border-radius: 5px;

  background-image: url("https://uploads-ssl.webflow.com/66706867b675938e0e831dbe/66706867b675938e0e831e3c_Asset%2081.svg");
  background-position: 7px 50%;
  background-size: 15px;
  background-repeat: no-repeat;
}

.search-button-2 {
  display: none;
}
*/